# Local env files
.env
.env.local
.env.*.local

# OS files
.DS_Store
Thumbs.db

# IDEs and editors
.idea/
.vscode/
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# Dependencies (in case installed at root)
node_modules/
